
@{
    ViewBag.Title = "Azure Test";
}

<div class="jumbotron">
    <h3>Azure Test</h3>
</div>

<div class="row">

</div>

<div class="body-content">
    <form action="@Url.Action("Upload", "Image")" method="post" enctype="multipart/form-data">
        <p align="center">
            <input type="file" name="inputFile" id="inputFile" />
            <input type="submit" value="Upload" />
        </p>
    </form>
    <br />
    <p align="center">
        <input type="button" value="Previous" hidden="@Model.CurrentImageIsFirstImage" id="btnPreviousImage" onclick="location.href='@Url.Action("Index", "Image", new { imageNumber = Model.PreviousImageNumber })'" />
        <input type="button" value="Next" hidden="@Model.CurrentImageIsLastImage" id="btnNextImage" onclick="location.href='@Url.Action("Index", "Image", new { imageNumber = Model.NextImageNumber })'" />
    </p>
    @if (Model.HasUris)
    {
        <p align="center">
            <label id="imageLabel">@Model.CurrentImageFileName</label>
            <img alt="No image." src="@Model.CurrentImageUri" />
        </p>
        using (Html.BeginForm("Delete", "Image", new { uri = Model.CurrentImageUri }, FormMethod.Post))
        {
            <p align="center">
                <input type="submit" value="Delete" />
            </p>
        }
    }
    else
    {
        <p align="center">No more images.</p>
    }
</div>
